/* ! POSSIBLE WAY OF ADDING RESET TO CSS FILE but using direct link to html file is more convinient @import url('reset.css'); */

* {
	color: #53b3cb;
}

h1 {
    color: #f9c22e;
    
}

.navigation {
    color: #ED6E3F;
}

.quote {
    color: #8FB339;
}

.quote a {
    color: #592E83;
}

.name {
    color: #5C0029;
}

h3.name {
    color: #CB48B7;
}

.navigation > a {
    color: #7CC6FE;
}

a.navigation-singers {
    color: #C884A6;
}

#navigation {
    color: #A93F55;
}

.biography span {
    color: #755C1B;
}

div.night li,
div.carol li {
    color: #B6A6CA;
}

.stone * {
    color: #739E82;
}

/* Усі теги P які знаходяться далі по коду після об'єктів з класом text та мають той самий рівень вкладеності (для аналогії візьму школу де перший рівень вкладеності це клас учнів де .text один з учнів і директор сьогодні вирішив звернутись до усіх учнів в цьому класі з іменем "p" саме після учня .text):
.text ~ p {} 

h3.verse — знаходимо тег h3 який має клас verse

~ — далі по коду шукаємо елементи що знаходяться на тому самому рівні 
вкладеності (рівень вкладеності це клас учнів, де h3.verse 
один з учнів, і директор вирішив звернутись до учнів після h3.verse)

ul — той сусід повинен бути тегом ul (директор шукає після h3.verse 
саме учня на ім'я ul)

(пробіл) — тепер заходимо всередину знайденого ul на будь-яку 
глибину вкладеності (директор знайшов клас ul і тепер шукає всіх 
його нащадків)

.chorus — і знаходимо будь-який елемент з класом chorus (директор 
звертається до конкретного нащадка на ім'я chorus)*/

h3.verse ~ ul .chorus {
    color: #592E83;
}

/* створила ще один селектор для практики */
#bells ~ ul .direct-speech {
    color: #A93F55;
}

/*Тег P який знаходяться безпосередньо далі по коду після об'єктів з класом text та має той самий рівень вкладеності (та ж аналогія з класом тільки тут вчитель звертається до учня "p" який знаходиться в списку одразу після учня .text):
.text + p {}*/

li.stone-chorus + li.chorus {
    color: #62466B;
}

/*звертається до усіх елементів в яких в назві класу є частинка __container 
[class*="__container"]{
	color: white;
}
*/

a[target="_blank"] {
    color: #A54657;
}

.name.composer {
    color: #6457A6;
}